#dv42{
	padding-top: 109px;
	padding-left: 80px;
}

#dv42 button{
	height: 38px;
	width: 170px;
	background-color: #e58e26;
	color: #192a56;
	font-family: 'Josefin Sans', sans serif;
	border-style: none;
	border-radius:30px ;
	font-size: 16pt;
	font-weight: bolder;
	margin-left: 50px;
	transition: 0.8s ease;
	
	
	

}
#dv42 button:Hover{
    background-color: #0c2461;
	color:  white;
	box-shadow: 2px 3px #e58e26, 2px 4px #e58e26, 3px 7px #e58e26;



}